﻿@model ProgettoCinema.Web.Models.SalaView

@{
    ViewBag.Title = "GetPrezzo";
}

<h2>Incasso</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Incasso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incasso) Euro
        </dd>

    </dl>
</div>

