﻿@model ProgettoCinema.Web.Models.SalaView

@{
    ViewBag.Title = "Index";
}

<h2>Sala</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFilm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durata)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.IdSala)
        </td>
        <td>
            @Html.DisplayFor(model => model.NomeFilm)
        </td>
        <td>
            @Html.DisplayFor(model => model.Genere)
        </td>
        <td>
            @Html.DisplayFor(model => model.Durata)
        </td>
        <td>
            @Html.ActionLink("Vendi Biglietto", "Create", "Vendita", new { genere = Model.Genere }, null) |
            @Html.ActionLink("Svuota sala", "SvuotaSala") |
            @Html.ActionLink("Incasso sala", "GetIncasso", new { id = Model.IdSala })

        </td>
    </tr>


</table>
