﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Errore</title>
</head>
<body>
    <hgroup>
        <h1></h1>
        <h2>La sala non ha più posti disponibili.</h2>
    </hgroup>
</body>
</html>
